<div class="row" >
	<div class="col-md-4 col-sm-6">
		<h2 class="right">
		  Dr. Sanchit Garg
		</h2>
		<h4 class="right">
		  Dental Expert
		</h4>
	</div>
	<div class="col-md-4 col-sm-6">
		
	</div>
	<div class="col-md-4 col-sm-0">
	</div>
</div>

<div class="row" style="margin-left:9%;">
	<div class="header-list center">
		<ul class="list-group">
		  <li class="list-group-item topBorderLess sideBorderLess active" (click)="clicked(this)">Home</li>
		  <li class="list-group-item sideBorderLess" (click)="clicked(this)">Contact Us</li>
		  <li class="list-group-item sideBorderLess" (click)="clicked(this)">Location</li>
		</ul>
	</div>
	<div class="trapezoid-left"></div>
	<div class="middle-list left">
		<ul class="list-group">
		  <li class="list-group-item middle-list-item topBorderLess sideBorderLess active" ((click)="clicked(this)">General  Dentistry</li>
		  <li class="list-group-item middle-list-item sideBorderLess" (click)="clicked(this)">Cosmetic Dentistry</li>
		  <li class="list-group-item middle-list-item sideBorderLess" (click)="clicked(this)">Consultation</li>
		</ul>
	</div>
	<div class="trapezoid-right">
		<img src="images/brown-family2.png" alt="" class="mainImg"/>
		<div class="trapezoid-right small">
				<div class="bottom-list center">
					<ul class="list-group">
					  <li class="list-group-item bottom-list-item" (click)="clicked(this)">Book a Checkup</li>
					  <li class="list-group-item bottom-list-item" (click)="clicked(this)">Expert Dentals</li>
					  <li class="list-group-item bottom-list-item" (click)="clicked(this)">Ask a Question</li>
					</ul>
				</div>
		</div>
	</div>
</div>
<br/>
<br/>
<div class="row">
<div class="col-md-8" style="text-align:center">
<p>Success Stories</p>
</div>
<div class="col-md-4" style="text-align:left">
<h4>
<p style="color:#6BB9F0;">Get in touch!</p>
</h4>
<table style="font-size:1em;">
<tr>
<td>Email</td>
<td>help@drsanchitgarg.dental</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Address</td>
<td>bgjegfjefijeb<br/>mshmgfjwfjvfjhvcjdgcuh</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Phone</td>
<td>2364028438954</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Follow us</td>
<td></td>
</tr>
</table>
</div>
</div>
<br/>
<br/>
